BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
